{% extends "base.html" %}

{% block title %}Admin Panel{% endblock %}

{% block content %}
    <h1>Welcome, user.first_name!</h1>
    <p>This is the admin panel.</p>
    <hr class="divider">
    <div class="container mt-5">
        <h1 class="text-center">Таблицы:</h1>
    </div>
    <div class="bg-light py-4">
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/users">Пользователи</a>
                </li>
                <li class="list-group-item">
                    <a href="/keywords">Ключевые слова</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
